html {
  background-color: #001f45;
  height: 100%;
}
body {
  background-image: url("../src/assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 60px; /* due to App bar */
}
#root {
  height: 100%;
}

.calc-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.button {
  height: 40px;
  width: 150px;
  text-transform: none !important;
}
.textfield {
  background: #ffffff;
  border-radius: 5px;
}
.selectField {
  background: #ffffff;
  border-radius: 5px;
}
.selectLabel {
  margin-top: 5x;
}
.row-button {
  margin-left: 10px !important;
}
.row-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 80%;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.result {
  color: #ffffff;
}
